@font-face {
    font-family: 'VolteRounded-Bold';
    src: url('/assets/fonts/VolteRounded-Bold.otf') format('truetype');


  }

@font-face {
    font-family: 'VolteRounded';
    src: url('/assets/fonts/VolteRounded-Bold.otf') format('truetype');

  }
@font-face {
    font-family: 'VolteRounded';
    src: url('/assets/fonts/VolteRounded-Bold.otf') format('truetype');
    font-weight: lighter;

  }


app-navbar {
  height: 3.3rem;
  width: 100%;
}

router-outlet {
  padding-top: 3.3vw;
  padding-bottom: 5rem;
}

app-router-outlet {
  font-family: 'VolteRounded-Bold';
}

