<div class="content desktop-only" >
      <!-- Desktop -->
      <div class="card_container desktop-only" style="margin-top: 0;">
          <div class="card ">
              <div class="card-body">
                <h1 class="title">Hogyan cserélj elemet a SafeCard-ban?</h1>
                <div class="card-list">
                    <h2 class="subtitle">Lépések</h2>
                    <ul>
                        <li>1. Csavarozd ki a SafeCard hátoldalán található 8 csavart</li>
                        <li>2. Szedd ki a 3 darab elhasználódott elemet</li>
                        <li>3. Helyezd be a 3 darab új CR2016-os elemet</li>
                        <li>4. Csavarozd vissza a hátlapot</li>
                        <li>5. A SafeCard újra használatra kész</li>
                    </ul>
                </div>
              </div>
          </div>
      </div>
          <app-footer></app-footer>
      </div>
  <!-- MOBIL -->