<div class="content desktop-only" >
  <div class="header" style="margin-bottom: 0;">
    <div class="landing" >
        <h1 class="title desktop-only" style="margin-left: 50px;">SafeCard</h1>
    </div>
        <div class="descript mt-5" data-aos="fade-up" style="text-align: center;">
            <h3 class="card-text">Ne hagyd,</h3>
            <h3 class="card-text">hogy elhagyd.</h3>
            
            <img class="TrackCard desktop-only"  src="/assets/images/trackcard.png" alt="SafeCard" style="width: 27%; margin: 0 auto;">
            <img class="findmybadge desktop-only" src="/assets/images/findmybadge.png" alt="applefindmybadge">
        </div>  
    </div>

    <!-- Desktop -->
    <div class="card_container desktop-only" style="margin-top: 0;">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="card1 col">
                        <h1 class="title">Tudod hol keresd</h1>
                        <p class="card-text">Egyhelyen találod az Apple eszközeiddel a Lokátor App-ban, így mindig tudhatod, hol van például a pénztárcád.</p>
                    </div>
                    <div class="card-2 col">
                        <img [src]="'/assets/images/tutor5.png'" alt="iphone" class="card1pic">
                    </div>
                </div>
            </div>
        </div>

        <div class="card ">
            <div class="card-body">
                <div class="row">
                    <div class="card-2 col pingcard">
                        <div class="container desktop-only" >
                            <video class="trigger-video" #video muted playsinline>
                                <!-- <source src="/assets/videos/ping_card_animation.mp4" type="video/mp4" class="trackcard-card video-container"> -->
                                <source src="/assets/videos/ping_card_animation.mp4" type="video/mp4" class="trackcard-card video-container">
                                <img [src]="'/assets/images/ping_card_pic.png'" alt="iphone" class="trackcard-card">
                              </video>
                        </div>
                        <div class="border-effect"></div>
                      </div>
                      
                    <div class="card1 col">
                        <h1 class="title">Pingeld meg</h1>
                        <p class="card-text">Ha elveszítenéd, A Lokátor app Tárgyak lapján keresztül hangot is lejátszhatsz a SafeCard beépített hangszóróján, így gyorsabban rábukkanhatsz.</p>
                    </div>
                    <div class="container mobile-only">
                    <!-- csere    <img [src]="'/assets/images/ping_card_pic.png'" alt="iphone" class="trackcard-card"> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-body">
                <div class="row">
                    <div class="card1 col">
                        <h1 class="title">Kicsi és könnyű</h1>
                        <p class="card-text">Kialakítása teljesen megegyezik egy bankkártya méreteivel, így egyszerűen elhelyezheted pénztárcádban, kártyatartódban vagy akár kisméretű táskádban is.</p>
                    </div>
                    <div class="card-2 col">
                        <div class="container animationcont">
                            <img [src]="'/assets/images/trackcard.png'" alt="iphone" class="trackcard-card pingtrack">
                            <img [src]="'/assets/images/creditcard.png'" alt="iphone" class="creditcard-card pingcredit">
                          </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="small-trigger" style="margin-bottom: 600px;"></div>
        <div class="card ">
            <div class="card-body">
                <div class="row">
                    <div class="card-2 col" >
                        <img [src]="'/assets/images/safecard_lost.png'" alt="iphone">
                    </div>
                    <div class="card1 col">
                        <h1 class="title">Ha elveszítenéd</h1>
                        <p class="card-text">A SafeCard Elveszett módba állítható, így a Find My hálózat értesítést küld, ha valaki megtalálja.</p>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="card1 col">
                        <h1 class="title">Megoszthatod ismerőseiddel</h1>
                        <p class="card-text">Egy Safecardot akár öt emberrel is megoszthatsz, így ha elhagynád a telefonod családtagjaid vagy barátaid továbbra is követhetik a kártya útját.</p>
                    </div>
                    <div class="card-2 col">
                        <img [src]="'/assets/images/share_card.png'" alt="iphone" class="card5pic">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="bottom_section">
        <div class="guide_section" >
            <h1>Hogyan csatlakoztasd?</h1>
            <div class="row images" data-aos="fade-up">
                <div class="col-3 guide">
                    <h3>1. lépés</h3>
                    <p>Nyisd meg a Lokátor-t és koppints a Tárgyak-ra.</p>
                    <img src="/assets/images/tutor1.png" alt="">
                </div>

                <div class="guide">
                    <h3>2. lépés</h3>
                    <p>Nyomj a Tárgy Hozzáadása gombra.</p>
                    <img src="/assets/images/tutor2.png" alt="">
                </div>

                <div class="guide">
                    <h3>3. lépés</h3>
                    <p>Tartsd lenyomva a SafeCard-on található gombot, <br> amíg az hangjelzést nem ad.</p>
                    <img src="/assets/images/tutor3.png" alt="">
                </div>
                <div class="guide">
                    <h3>4. lépés</h3>
                    <p>Nyomj az "Egyéb támogatott tárgyak"-ra <br>és válaszd ki a SafeCardot.</p>
                    <img src="/assets/images/tutor4.png" alt="">
                </div>

                <div class="guide">
                    <h3>5. lépés</h3>
                    <p>Sikeresen csatlakoztattad a SafeCardot.</p>
                    <img src="/assets/images/tutor5.png" alt="">
                </div>
            </div>
        </div>

        <div class="buy desktop-only">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="card1 col">
                            <h1 class="title">SafeCard</h1>
                            <ul style="padding-left: 10px;"> 
                                <li class="card-text-dark">2 éves akkumlátor idő</li>
                                <li class="card-text-dark">Apple Find My támogatás</li>
                                <li class="card-text-dark">Beépített hangszóró</li>

                            </ul>
                            <div class="card-2 trackcard-buy">
                                <img [src]="'/assets/images/trackcard.png'" alt="iphone">
                            </div>
                            <div class="price-button">
                                <span class="price">8.990 Ft</span>
                                <button class="btn btn-primary" (click)="buyButtonClick()">{{buyButton.text}}</button>
                            </div>
                        </div>
                        
                        <div class="card-2 col desktop-only safecard-buy-desktop">
                            <img [src]="'/assets/images/trackcard_rotate.png'" alt="iphone">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="buy mobile-only">
            <div class="card">
                        <div class="cardbuy">
                            <h1 class="title">SafeCard</h1>
                            <div class="trackcard-buy">
                                <img [src]="'/assets/images/trackcard.png'" alt="iphone">
                            </div>
                            <div class="price-button">
                                <span class="price">8&nbsp;990 Ft</span>
                                <button class="btn btn-primary" (click)="buyButtonClick()">{{buyButton.text}}</button>
                            </div>
                        </div>

                    </div>
                </div>
        </div>

        <app-footer></app-footer>
    </div>


<!-- MOBIL -->
<div class="content mobile-only">
        <div class="header">
            <div class="landing" >
                <h1 class="title">SafeCard</h1>
                <img class="TrackCard" src="/assets/images/trackcard.png" alt="SafeCard">
                <h3 class="card-text">Ne hagyd,</h3>
                <h3 class="card-text">hogy elhagyd.</h3>
                <img class="findmybadge mobile-only" src="/assets/images/findmybadge.png" alt="applefindmybadge"  style="padding-top: 30px;">
            </div>
        </div>

        <div class="card_container" >
            <div class="card" >
                <div class="card-body">
    
                        <div class="card1 row">
                            <h1 class="title">Tudod hol keresd</h1>
                            <p class="card-text">Egyhelyen találod az Apple
                                eszközeiddel a Lokátor App-ban, így
                                mindig nyomonkövetheted.</p>
                        </div>
                        <div class="card-2 row">
                            <div class="container" style="margin-bottom: 0;">
                                <img [src]="'/assets/images/first_card.png'" alt="iphone" class="card-1-pic">
                            </div>
                        </div>
    
                </div>
            </div>
            <div class="small-trigger" style="margin-bottom: 100px;"></div>
            <div class="card ">
                <div class="card-body">
    
    
                        <div class="card1 row">
                            <h1 class="title">Pingeld meg</h1>
                            <p class="card-text">
                                A Lokátor app Tárgyak
                                lapjáról hangot játszhatsz le a
                                SafeCard beépített hangszóróján
                                keresztül.
                            </p>
                        </div>
    
                        <div class="card-2 pingcard row">
                                    <div class="container">
                                        <img [src]="'/assets/images/ping_card_pic.png'" alt="iphone" class="card-3-pic" style="margin-top: 60px;">
                                    </div>
                          </div>
                </div>
            </div>
            <div class="small-trigger" style="margin-bottom: 100px;"></div>
            <div class="card ">
                <div class="card-body">
    
                        <div class="card1 row">
                            <h1 class="title">Kicsi és könnyű</h1>
                            <p class="card-text">Vékony kialakítása teljesen megegyezik egy
                                bankkártya méretével, így
                                egyszerűen elhelyezheted bárhol.</p>
                        </div>
                            <div class="card-2 pingcard row" style="margin-top: 80px;">
                                <div class="container" >
                                    <img src="/assets/images/credit-safecard.png" alt="">
                                </div>
                              </div>

    
                </div>
            </div>
            
            <div class="small-trigger" style="margin-bottom: 100px;"></div>
            <div class="card ">
                <div class="card-body">
    
                        
                        <div class="card1 row">
                            <h1 class="title">Ha elveszítenéd</h1>
                            <p class="card-text">A SafeCard Elveszett módba állítható, így a Find My hálózat értesítést küld, ha valaki megtalálja.</p>
                        </div>
                        <div class="card-2 row" >
                            <div class="container">
                                <img [src]="'/assets/images/safecard_lost_mobile.png'" alt="iphone" class="card-4-pic">
                            </div>
                        </div>
                        
                    </div>
    
            </div>
            <div class="small-trigger" style="margin-bottom: 100px;"></div>
            <div class="card">
                <div class="card-body">
    
                        <div class="card1 row">
                            <h1 class="title">Megoszthatod ismerőseiddel</h1>
                            <p class="card-text">Egy Safecardot akár öt emberrel is megoszthatsz, 
                                így teljes biztonságban tudhatod az irataidat és értékeidet.
                            </p>
                        </div>
                        <div class="card-2 row">
                            <div class="container" style="margin-top: 30px;">
                                <img [src]="'/assets/images/share_card_mobile.png'"  alt="iphone" class="card-pic-mobile" style="position: sticky;">
                            </div>
                        </div>
                </div>
            </div>
        </div>

            <div class="bottom_section">
                <div class="guide_section">
                    <h1 class="guide-title">Hogyan csatlakoztasd?</h1>
                    <div class="carousel" >
                        <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="false" [interval]="0"  [pauseOnHover]="true" class="w-80 custom-carousel">
                          <ng-template class="slide" ngbSlide *ngFor="let guide of guides; let i = index" id="guide{{i}}">
                            <div class="guide guide-pic item" >
                                <h3>{{ guide.title }}</h3>
                                <p>{{ guide.text }}</p>
                                <img [src]="guide.img" alt="" >
                            </div>
                          </ng-template>
                          
                        </ngb-carousel>
                      </div>
                    
                    <!-- <div class="row images scroll-container" data-aos="fade-up">
                        <div class="guide guide-pic item" *ngFor="let guide of guides; let i = index" id="guide{{i}}">
                            <h3>{{ guide.title }}</h3>
                            <p>{{ guide.text }}</p>
                            <img [src]="guide.img" alt="">
                        </div>
                    </div>
                
                    <div class="controls">
                        <div class="control left">
                            <p (click)="prev()">‹</p>
                        </div>
                        <div class="control right">
                            <button (click)="next()">›</button>
                        </div>
                    </div> -->
                </div>
                
                
        
                <div class="buy mobile-only">
                    <div class="card">
                                <div class="cardbuy">
                                    <h1 class="title">SafeCard</h1>
                                    <div class="trackcard-buy">
                                        <img [src]="'/assets/images/trackcard.png'" alt="iphone">
                                    </div>
                                    <div class="price-button">
                                        <span class="price">8&nbsp;990 Ft</span>
                                        <button class="btn btn-primary" (click)="buyButtonClick()">{{buyButton.text}}</button>
                                    </div>
                                </div>
        
                            </div>
                        </div>
                </div>
        
                <app-footer></app-footer>
    
    </div> 